@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Akira-Bold;
  src: url("./assets/fonts/Akira\ Expanded\ Bold.otf");
}
@font-face {
  font-family: Akira-SuperBold;
  src: url("./assets/fonts/Akira\ Expanded\ SuperBold.otf");
}
@font-face {
  font-family: Akira-Outline;
  src: url("./assets/fonts/Akira\ Expanded\ Outline.otf");
} */

body {
  color: #e4e4e7;
  background: #181818;
}